html(lang='en')
head
    //
      meta(charset='ISO-8859-1')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title transUR
    
    link(href='css/bootstrap.min.css', rel='stylesheet')
    
  
  body
    .navbar-wrapper
      .container
        .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand() Cooperativa de transporte Urcuquí
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a() Home
                li
                  a(href='#contact') Contactos 
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Opciones
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li.dropdown-header Nav header
                    li
                      a(href='#') Separated link
                    li
                      a(href='#') One more separated link
                li
                  a(href='#about') Acerca de  
    
    button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')  Aui toy
       
    // 
      modales
   
    #myModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal Heading
          .modal-body
            h4 Text in a modal
            h4 Popover in a modal
            p
              | This
              a.btn.btn-default.popover-test(href='#', role='button', title='A Title', data-content='And here\'s some amazing content. It\'s very engaging. right?') button
              | should trigger a popover on click.
            h4 Tooltips in a modal
            p
              a.tooltip-test(href='#', title='Tooltip') This link
              | and
              a.tooltip-test(href='#', title='Tooltip') that link
              | should have tooltips on hover.
            hr
            h4 Overflowing text to show scroll behavior
             
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
          //
             /.modal-content 
        //
           /.modal-dialog 
      //
         /.modal 
     
      //
         Bootstrap core JavaScript
   
      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      //script(src='js/modal.js')

      